.button {
  font-family: 'Yusei Magic';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  text-align: center;
  color: #FFCBF0;
      background-color: #142F46;
      border: 3px solid #FFFFFF;
      padding: 5px 20px;
      text-align: center;
      text-decoration: none;
      display: auto;
      margin: 10px 20px;
      cursor: pointer;
      border-radius: 25px;
    }
    .button:hover {
        background-color: #A43E87;
        /* border: 5px solid #FFFFFF; */
        /* border-radius: 25px;
        font-weight: 900; */
        /* font-size: 26px; */
        /* line-height: 38px; */
        /* text-align: center; */
        color: white;
        transform: scale(1.2);
    }

#resume{
position: absolute;
right: 40%;
bottom: 0%;
}
.inline-block{
  display: inline-block;
  vertical-align:middle; 
  padding: 10px;
}
body {
  background-color: #365067;
}
h1{
  position: absolute;
  left: 39.24%;
  right: 47.85%;
  top: 20%;
  
  font-family: 'Yusei Magic';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 14px;

  
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  
  color: #FFCBF0;
}
h2{
  position: absolute;
  left: 33%;
  top: 21%;


  font-family: 'Yusei Magic';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 48px;
/* or 75% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #FCFEFF;

}
div.circles{
  text-align: center;
  position:absolute
}
p {
  position: absolute;
  left: 22.92%;
  right: 13.99%;
  top: 27.32%;
  bottom: 20.85%;
  
  font-family: 'Yusei Magic';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  
  color: #FFFFFF;
}

ul {
  /* list-style-type: none;
  margin: 0;
  padding: 0; */
  /* width: 73%%; */
  /* margin-left:auto; */
text-align: right;
}
nav {
  width:73% ;
  padding:1%;
}

#navbg{
  width:100%;
  position:fixed;
  top: 0%;
  z-index: 90;
}

/* div.resumeBtn{
  position: relative;
  bottom:0%;
} */
#resume{

}
img.logo {
  position:fixed;
  left: 7.36%;
  right: 74.28%;
  top: 1%;
  bottom: 0.74%;
  z-index: 120;
  /* text-align: center; */
}
nav.inline-block {
  position: fixed;
right:5%; 
top: 0%;
  z-index: 120;
  width: 100%;
}
#portrait{
  position: absolute;
  left: 61.67%;
  right: 11.55%;
  top: 15%;
  bottom: 67.47%;
}
/* footer{
position: fixed;
left: 0%;
right: 0%;
top: 84.96%;
bottom: 0%;
} */
#footbg{
position: fixed;
width: 100%;
bottom: 0%;
z-index: 90;
;
}
footer.inline-block{
  position: fixed;
  right:5%;
  /* left:20%; */
  bottom: 0%;
  z-index: 120;
}

#bē:hover {
  transform: scale(1.3);
}
#linkedin:hover {
  transform: scale(1.3);
}
#github:hover {
  transform: scale(1.3);
}


